/* You can add global styles to this file, and also import other style files */
.box {
  position: absolute;
  width: 100px;
  height: 100px;
  border: 2px solid black;
  margin: 5%;
  background-color: black;
}
